body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f2ebd9; }

h1 {
  font-size: 20px;
  font-weight: bold; }

.outline {
  border: 1px dashed #000; }

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 40px;
  border-radius: 7px;
  align-items: center;
  background-color: #f4be58; }

.flex-col {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  margin: 0 20px;
  width: 100%;
  height: 170px;
  padding: 20px; }

.tab {
  border: 1px dashed #FAB;
  flex: 1;
  cursor: pointer;
  padding: 10px;
  text-align: center; }

.tabs:hover {
  cursor: pointer; }

.btn, .bottom-btn, .top-btn {
  background-color: #ad1e1e;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1em;
  width: 90px;
  cursor: pointer; }

.active {
  background-color: #32CD32; }

#custom_page {
  padding: 50px;
  display: flex; }

.custom_pageContainer {
  flex-direction: column;
  padding-left: 225px; }

.tabContainer {
  display: flex;
  flex-direction: row;
  border: 1px dashed #FAB;
  width: 350px; }

.btnContainer {
  flex-direction: row;
  order: 1;
  border: 1px dashed #32CD32;
  width: 235px;
  padding-left: 115px;
  padding-top: 10px;
  padding-bottom: 10px; }

#tire {
  display: none; }

#engine {
  display: none; }

#custom {
  display: none; }

.btn-theme-1 {
  padding: 25px 30px !important;
  width: 150px;
  font-size: 1.2em;
  margin: 40px 0; }

#thanks-msg {
  font-size: 2.5em;
  padding: 20px;
  margin-top: 20px; }

.thanks {
  margin: auto;
  height: 50%;
  width: 80%;
  border-radius: 3px;
  margin-top: 10%; }

.right-mar {
  margin-right: 50px; }

.specialStyle {
  width: 500px;
  height: fit-content; }

#segway {
  display: flex;
  flex-wrap: wrap; }

.segboi_img {
  height: 470px;
  width: 309px;
  border: 2px dashed chartreuse;
  margin-right: 200px; }

.segwayPic {
  border-radius: 3px;
  margin: 0 20px;
  padding: 20px;
  border-radius: 3px; }

.segName {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold; }

.segDesc {
  font-size: 1.2em;
  text-align: center; }

.bottom-btn {
  margin-top: 30px; }

.top-btn {
  margin-bottom: auto; }

.nav {
  overflow: hidden;
  background-color: #ad1e1e; }

.nav-item:hover {
  color: #fff;
  border-bottom: 5px solid #FFC76D;
  margin-top: 10px; }

.container {
  height: 450px; }

.inner-box {
  width: 50%;
  text-align: left; }

.flex-tabs {
  width: 100%;
  height: 20%;
  align-content: center;
  justify-content: center;
  margin-bottom: 400px; }

.active {
  background-color: #21f; }
