body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f2ebd9;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}

.outline {
  border: 3px solid #000;
  margin: 50px auto;
  padding: 50px;
  align-items: center !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 40px;
  border-radius: 7px;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  margin: 0 20px;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.check-flex-col {
  display: flex !important;
  flex-direction: column !important;
  padding: 15px !important;
}

.check-flex-row {
  display: flex !important;
  flex-direction: row !important;
}
.tab {
  border: 1px dashed #FAB;
  flex: 1;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.tabs:hover {
  cursor: pointer;
}

.btn {
  background-color: #ad1e1e;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1em;
  width: 90px;
  cursor: pointer;
}

.active {
  background-color: #32CD32;
}

#custom_page {
  padding: 50px;
  display: flex;
}

.custom_pageContainer {
  // padding-top: 25px;
  // margin-left: 750px;
  // margin-top: -511px;
  margin: 20px auto;
  max-width: 60%;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  width: 350px;
}

.btnContainer {
  flex-direction: row;
  order: 1;
  border: 3px solid #000;
  width: 229px;
  padding-left: 115px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.colourTab {
  border: 3px solid #000;
}

.tireTab {
  border: 3px solid #000;
}

.engineTab {
  border: 3px solid #000;
}

.customTab {
  border: 3px solid #000;
}

#colour {

}

#tire {
  display: none;
}

#engine {
  display: none;
}

#custom {
  display: none;
}

.btn-theme-1 {
  padding: 25px 30px !important;
  width: 150px;
  font-size: 1.2em;
  margin: 40px;
}
#thanks-msg {
  font-size: 2.5em;
  padding: 20px;
  margin-top: 20px;
}

.thanks {
  //margin: auto;
  height: 50%;
  width: 80%;
  border-radius: 3px;
  //margin-top: 10%;
  margin: 20px auto;
  max-width: 60%;
}

.right-mar {
  margin-right: 50px;
}

.add {

}

.modify {

}

.mainMenu {

}
.specialStyle{
  width: 500px;
  height: fit-content;
  margin: 0 auto !important;
  max-width: 60%;
}
#segway{
  display: flex;
  flex-wrap: wrap;
}

.segboi_img {
  height: 470px;
  position: relative;
  width: 309px;
}

canvas {
  height: 470px;
  width: 308px;
  border: 3px solid #000;
  position: absolute;
}

.segwayPic {
  border-radius: 3px;
  margin: 0 20px;
  padding: 20px;
  border-radius: 3px;
}

.segName {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
.segDesc {
  font-size: 1.2em;
  text-align: center;
}
.bottom-btn {
  @extend .btn;
  margin-top: 30px;
}
.checkBtn{
  @extend .btn;
  padding: 20px;
  width: 150px;
  text-align: center;
  font-size: 1em;
}

.top-btn {
  @extend .btn;
  margin-bottom: auto;
}

.nav-container {
  height: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.nav-flex-col {
  @extend .flex-col;
  display: block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  height: 450px;
  margin: 20px auto;
  max-width: 60%;
}

.inner-box {
  width: 50%;
  text-align: left;
  font-size: 1em;
}

.flex-tabs {
  width: 100%;
  height: 20%;
  align-content: center;
  justify-content: center;
  // margin: 0px !important;
  margin-bottom: 400px;
}

.active {
  background-color: #21f;
}

.price {
  border: 2px solid #b300ff;  
  height: 25px;
  width: 100px;
  text-align: center;
  margin-left: 500px;
  margin-top: 10px;
}

#orderCustomBtn {
  // margin-top: 115px;
  // margin-left: 116px;
  margin-left: 890px;
}

@media all and (max-width: 550px) {

  .segboi_img {
    height: 470px;
    position: relative;
    width: 309px;
    margin-left: 40px;
  }

  .price {
    border: 2px solid #b300ff;  
    height: 25px;
    width: 100px;
    text-align: center;
    margin-left: 165px;
  }

  .custom_pageContainer {
    margin-top: 85px;
    margin-left: 15px;
  }

  #orderCustomBtn {
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 150px;
  }

  .btn-theme-1 {
    /* padding: 25px 30px !important; */
    width: 50px;
    font-size: 1em;
    margin: 40px;
    /* text-align: center; */
    height: 25px;
    /* padding-top: 25px; */
  }

  .segwayPic {
    width: 90%;
  }

  .canvas {
    height: 370px;
    width: 208px;
  }

  .inner-box {
    font-size: 0.9em;
  }

  .checkBtn {
    font-size: 0.9em;
  }

  #btnArea {
    margin: 0 !important;
    padding: 5px !important;
  }
}